<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>
<!DOCTYPE html>
<html data-theme="corporate" lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= application_title %>
  </title>
  <%= favicon_link_tag asset_path('logo/favicon_io_white/favicon.ico') %>
  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag if defined?(csp_meta_tag) %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.9.0/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <%= render "icons" %>
  <div id="root">
    <div class="relative md:ml-64 bg-gray-50">
      <%= render "navigation" -%>
    </div>
    <div class="relative md:ml-64 bg-gray-50">
      <%= yield %>
    </div>
  </div>
  <%= render "javascript" %>
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
</body>
</html>
