<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>
<!DOCTYPE html>
<html data-theme="corporate" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <%= content_for(:title) %> | <%= meta_title %>
    </title>
    <%= favicon_link_tag asset_path('logo/favicon_io_white/favicon.ico') %>
    <%= render "stylesheet" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag if defined?(csp_meta_tag) %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ['Inter', 'sans-serif'],
            },
          }
        }
      }
    </script>
  </head>
  <body>
    <%= render "icons" %>
    <div id="root">
      <%= render "navigation" -%>
      <div class="relative bg-gray-100 md:ml-64">
        <%= yield %>
      </div>
    </div>
    <%= render "javascript" %>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  </body>
</html>
