<% content_for :meta_title, "Mot de passe oublié | #{meta_title}" %>
<section class="py-20 bg-gray-100">
  <div class="container max-w-lg mx-auto">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-md w-100 sm:p-6 lg:p-8">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "space-y-6", method: :post }) do |f| %>
        <h5 class="text-3xl font-medium text-gray-900">Mot de passe oublié ?</h5>
        <div>
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5", placeholder: "email@smuca.fr" %>
        </div>
        <%= f.button "Réinitialiser mon mot de passe", class: "w-full inline-block px-7 py-3 bg-sky-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-700 hover:shadow-lg focus:bg-sky-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-800 active:shadow-lg transition duration-150 ease-in-out" %>
      <% end %>
    </div>
  </div>
</section>
