<section class="bg-white max-w-lg mx-auto my-20">
  <div class="p-4 w-100 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "space-y-6", method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h5 class="text-3xl font-medium text-gray-900">Mot de passe oublié ?</h5>
      <div>
        <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "email@smuca.fr" %>
      </div>
      <%= f.button "Réinitialiser mon mot de passe", class: "w-full text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" %>
    <% end %>
  </div>
</section>
