<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>
<nav class="absolute top-0 left-0 z-10 flex items-center w-full p-4 bg-transparent md:flex-row md:flex-nowrap md:justify-start">
  <div class="flex flex-wrap items-center justify-between w-full px-4 mx-autp md:flex-nowrap md:px-10">
    <%= link_to 'Dashboard', admin_root_path, class: "hidden text-xl font-semibold text-white hover:text-gray-100 transition duration-300 ease-in-out uppercase lg:inline-block focus:outline-none focus:ring-0" %>
    <% if show_search_bar %>
      <%= render("search", search_term: search_term, resource_name: display_resource_name(page.resource_name)) %>
    <% end %>
    <ul class="flex-col items-center hidden list-none md:flex-row md:flex">
      <a class="block text-blueGray-500" href="#pablo" onclick="openDropdown(event,'user-dropdown')">
        <div class="flex items-center">
          <span class="inline-flex items-center justify-center w-12 h-12 text-sm text-white rounded-full bg-blueGray-200">
            <%= image_tag(current_user.avatar, class: "w-12 h-12 w-full align-middle border-none rounded-full shadow-lg object-cover", alt: "avatar") %>
          </span>
        </div>
      </a>
      <div class="z-50 hidden float-left py-2 mt-1 text-base text-left list-none bg-white rounded shadow-lg" style="min-width: 12rem;" id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900"><%= current_user.first_name %> <%= current_user.last_name %></span>
          <span class="block text-sm font-medium text-gray-500 truncate"><%= current_user.email %></span>
        </div>
        <ul class="py-1" aria-labelledby="dropdown">
          <li>
            <%= link_to "Accueil", root_path, class: "block px-6 py-2.5 text-sm text-gray-700 hover:bg-gray-100" %>
          </li>
          <li>
            <%= link_to "Modifier mon compte", edit_user_registration_path(current_user), class: "block px-6 py-2.5 text-sm text-gray-700 hover:bg-gray-100" %>
          </li>
          <li>
            <%= button_to "Se déconnecter", destroy_user_session_path, method: 'delete', class: "block w-full text-left px-6 py-2.5 text-sm text-red-700 hover:bg-gray-100 hover:text-red-700" %>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
<div class="relative pt-12 pb-32 bg-blue-600 md:pt-32">
  <div class="w-full px-4 mx-auto md:px-10">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
          <%= render "card_stats", resource: resource -%>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/flashes' %>
  </div>
</div>
<div class="w-full px-4 mx-auto -m-24 md:px-10">
  <% yield %>
</div>
