<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>
<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200">
  <div class="w-full">
    <div class="grid overflow-hidden grid-cols-3 grid-rows-1 gap-2">
      <div class="flex items-center">
        <h1 class="text-xl sm:text-2xl font-semibold text-gray-900"><%= content_for(:title) %></h1>
      </div>
      <div class="box">
      </div>
      <div class="flex items-center space-x-2 sm:space-x-3 ml-auto">
        <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "btn btn-primary",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
      </div>
    </div>
  </div>
</div>
<section class="bg-white min-h-screen">
  <div class="max-w-lg md:p-12">
    <dl>
      <% page.attributes.each do |attribute| %>
        <div class="my-2">
          <dt class="font-medium text-gray-900 attribute-label" id="<%= attribute.name %>">
            <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: page.resource.class.human_attribute_name(attribute.name),
      ) %>
          </dt>
          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute, page: page %></dd>
        </div>
      <% end %>
    </dl>
  </div>
</section>
