<% content_for :page_title, 'SMUCA — Accueil' %>
<%= render 'hero' %>
<%= render 'team' %>
<div class="bg-gray-100">
  <%= render 'partners' %>
  <%= render 'divider' %>
  <%= render 'testimonial' %>
</div>
