<!DOCTYPE html>
<html data-theme="corporate">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "SMUCA" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.9.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  </head>
  <body>
    <main>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flashes' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
    <%# <script src="../flowbite/dist/flowbite.js"></script> %>
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
  </body>
</html>
